@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  text-decoration: none;
  font-family: 'Inter';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  min-height: 70px;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 15px;
}
header nav {
  display: flex;
  gap: 20px;
}
header .logo_fatec {
  height: 50px;
}
header .header_icone {
  height: 40px;
}

.dropbtn-home {
  background-color: #A50532;
  color: white;
  padding: 5px 10px;
  font-size: 0.9em;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #000000;
  cursor: pointer;
}

.dropbtn {
  border: none;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 50px;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content-sino {
  right: 110px;
}

.btn-home {
  min-width: 120px;
}

.drop-home {
  right: 130px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #D9D9D9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card_vaga {
  min-width: 300px;
  width: 320px;
  height: 400px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
}
.card_vaga .head_card_vaga {
  background-color: #A50532;
  border-radius: 18px 18px 0 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 2px solid #A50532;
}
.card_vaga .head_card_vaga .titulo_card_vaga {
  color: white;
}
.card_vaga .head_card_vaga .area_card_vaga {
  color: white;
}
.card_vaga .body_card_vaga {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.card_vaga .body_card_vaga .info_card_vaga {
  display: flex;
  align-items: center;
  gap: 25px;
}
.card_vaga .body_card_vaga .info_card_vaga .icone_card_vaga {
  width: 40px;
}
.card_vaga .body_card_vaga .link_vaga {
  color: #A50532;
  font-weight: bold;
  align-self: flex-end;
}

footer {
  background-color: #D9D9D9;
  min-height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
  gap: 15px 15px;
  margin-top: 20px;
}
footer .icones_footer {
  display: flex;
  gap: 10px;
}
footer .icones_footer .icon_footer {
  width: 50px;
}
footer .backtotop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .backtotop .foguete {
  width: 50px;
}

@media (max-width: 1100px) {
  footer {
    justify-content: space-around;
    gap: 20px 100px;
  }
}
@media (max-width: 600px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
  footer .texto_footer {
    font-size: 0.9em;
    text-align: center;
  }
  footer .icones_footer .icon_footer {
    width: 30px;
  }
  footer .info_contatos {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .logo-home {
    display: none;
  }
}
.imagem_principal {
  width: 100%;
}
.imagem_principal .imagem_topo {
  width: 100%;
}

.resumo_perfil {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  gap: 30px;
}
.resumo_perfil .nome_perfil {
  font-size: 3em;
  color: #A50532;
  font-weight: bold;
}
.resumo_perfil .info_perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.resumo_perfil .info_perfil .container_foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  gap: 5px;
}
.resumo_perfil .info_perfil .container_foto .editar_perfil {
  font-weight: bold;
}
.resumo_perfil .info_perfil .container_foto .foto_perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.resumo_perfil .info_perfil .area_info_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 50px;
  flex: 1 0 auto;
}
.resumo_perfil .info_perfil .area_info_card .info_card {
  height: 300px;
  width: 300px;
  background-color: #D9D9D9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.resumo_perfil .info_perfil .area_info_card .info_card .icone_info_card {
  height: 70px;
  width: 70px;
}
.resumo_perfil .info_perfil .area_info_card .info_card .texto_info_card {
  text-align: justify;
  flex: 1 0 auto;
}
.resumo_perfil .info_perfil .area_info_card .info_card .link_info_card {
  align-self: flex-end;
  color: #A50532;
  font-weight: bold;
}

.texto_mini_painel {
  margin: 50px 0px 20px 50px;
  font-weight: 500;
}

.mini_painel {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 50px 20px 50px;
  gap: 20px;
}
.mini_painel .area_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.mini_painel .link_painel_vagas {
  color: white;
  align-self: flex-end;
  font-size: 1.5em;
}

@media (max-width: 1770px) {
  .resumo_perfil .nome_perfil {
    text-align: center;
  }
  .resumo_perfil .info_perfil {
    justify-content: center;
    gap: 50px 20px;
  }
  .resumo_perfil .info_perfil .area_info_card {
    width: 100%;
    justify-content: space-evenly;
    gap: 20px 10px;
  }
}
@media (max-width: 1100px) {
  .resumo_perfil .nome_perfil {
    text-align: center;
  }
  .resumo_perfil .info_perfil {
    gap: 50px 20px;
  }
  .resumo_perfil .info_perfil .area_info_card {
    justify-content: space-around;
    gap: 20px 10px;
  }
}
@media (max-width: 360px) {
  .resumo_perfil .nome_perfil {
    font-size: 2.5em;
  }
  .resumo_perfil .info_perfil .container_foto .foto_perfil {
    width: 230px;
    height: 230px;
    border-radius: 50%;
  }
  .resumo_perfil .info_perfil .area_info_card .info_card .icone_info_card {
    height: 50px;
    width: 50px;
  }
  .resumo_perfil .info_perfil .area_info_card .info_card .texto_info_card {
    font-size: 0.9em;
  }
  .resumo_perfil .info_perfil .area_info_card .info_card .link_info_card {
    font-size: 0.9em;
  }
}
.texto_intro {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.area_painel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1 item2 item2 item2";
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 50px;
}
.area_painel .filtro_lateral {
  grid-area: item1;
  border: 2px solid #000000;
  border-radius: 20px 0 20px 0;
  height: fit-content;
  min-width: 320px;
  padding: 15px;
}
.area_painel .area_cards_vagas {
  grid-area: item2;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 10px;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 1050px) {
  .area_painel {
    display: flex;
    flex-direction: column;
  }
  .area_painel .filtro_lateral {
    width: auto;
    align-self: center;
  }
  .area_painel .filtro_lateral form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .area_painel .filtro_lateral form .zona {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .area_painel .area_cards_vagas {
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .area_painel {
    display: flex;
    flex-direction: column;
  }
  .area_painel .filtro_lateral form {
    display: flex;
    flex-direction: column;
  }
  .area_painel .filtro_lateral form .zona {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .area_painel {
    padding: 20px 10px;
    justify-content: center;
  }
  .area_painel .filtro_lateral {
    min-width: 220px;
  }
  .area_painel .filtro_lateral form {
    font-size: 0.8em;
  }
}
.container_titulo_vaga {
  background-color: #A50532;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.container_titulo_vaga .texto_titulo_vaga {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container_titulo_vaga .texto_titulo_vaga .titulo_vaga {
  color: white;
  font-size: 3em;
}
.container_titulo_vaga .texto_titulo_vaga .tipo_vaga {
  color: white;
}

.container_descricao_vaga {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  margin: 0 200px;
  padding: 50px;
  gap: 50px;
}
.container_descricao_vaga .container_info_gerais {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.container_descricao_vaga .container_info_gerais .info_gerais_lados {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container_descricao_vaga .container_info_gerais .info_gerais_lados .info_gerais_linha {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
.container_descricao_vaga .container_info_gerais .info_gerais_lados .info_gerais_linha .icone_tela_vaga {
  width: 60px;
}
.container_descricao_vaga .descricao_vaga {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container_descricao_vaga .descricao_vaga .texto_vaga {
  font-size: 1.2em;
  text-align: justify;
}

.btn_candidatar {
  color: white;
  background-color: #A50532;
  padding: 5px 10px;
  font-size: 1.2em;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #000000;
  cursor: pointer;
}

.btn_vagas {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.btn_vagas .btn_pag_vaga {
  color: white;
  padding: 5px 10px;
  font-size: 1.2em;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #000000;
  cursor: pointer;
}
.btn_vagas .editar, .btn_vagas .arquivar {
  background-color: #030361;
}
.btn_vagas .excluir {
  background-color: #A50532;
}
.btn_vagas .marcar_fatec {
  background-color: #006400;
}

.titulo_candidatos {
  background-color: #A50532;
  color: white;
  text-align: center;
  padding: 30px;
  margin: 0 150px;
  font-size: 2.5em;
}

.container_candidatos {
  background-color: #D9D9D9;
  margin: 0 200px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.candidato_vaga {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.foto_candidato {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.subtitulo-pag-solicitacao{
  text-align: center;
}

@media (max-width: 1200px) {
  .container_descricao_vaga {
    margin: 0 50px;
  }
  .titulo_candidatos {
    margin: 0;
  }
  .container_candidatos {
    margin: 0 50px;
  }
}
@media (max-width: 790px) {
  .container_titulo_vaga .icone_mesa {
    display: none;
  }
  .container_descricao_vaga {
    margin: 0 30px;
  }
  .container_descricao_vaga .container_info_gerais .info_gerais_lados .info_gerais_linha .texto_icone {
    font-size: 1em;
  }
  .container_descricao_vaga .container_info_gerais .info_gerais_lados .info_gerais_linha .icone_tela_vaga {
    width: 40px;
  }
  .container_candidatos {
    margin: 0 30px;
  }
}
@media (max-width: 660px) {
  .container_titulo_vaga .icone_mesa {
    display: none;
  }
  .container_descricao_vaga .container_info_gerais {
    flex-direction: column;
  }
  .container_descricao_vaga .descricao_vaga .texto_vaga {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  .container_titulo_vaga .texto_titulo_vaga .titulo_vaga {
    font-size: 2em;
  }
  .container_titulo_vaga .texto_titulo_vaga .tipo_vaga {
    font-size: 1em;
  }
  .container_descricao_vaga {
    margin: 0;
  }
  .container_descricao_vaga .descricao_vaga .topico_vaga {
    font-size: 1.2em;
  }
  .titulo_candidatos {
    font-size: 2em;
  }
  .container_candidatos {
    margin: 0;
  }
}
.container_principal {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1 item2 item2 item2";
  gap: 50px;
}
.container_principal .imagem_lateral {
  grid-area: item1;
  min-width: 400px;
  background-color: #A50532;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.185);
}
.container_principal .imagem_lateral .titulo_pagina {
  font-size: 2.5em;
  color: white;
  text-align: center;
}
.container_principal .imagem_lateral .container_img_perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_principal .imagem_lateral .container_img_perfil .foto_pag_perfil {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.container_principal .imagem_lateral .container_curriculo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container_principal .imagem_lateral .container_curriculo .texto_curriculo {
  color: white;
  text-align: center;
}
.container_principal .imagem_lateral .container_descricao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container_principal .imagem_lateral .container_descricao .texto_descricao {
  color: white;
  text-align: center;
}
.container_principal .imagem_lateral .container_descricao .area_descricao {
  border-radius: 20px;
  padding: 15px;
  text-align: justify;
}
.container_principal .imagem_lateral .btn_cadastro_editar {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.container_principal .imagem_lateral .btn_cadastro_editar .btn_geral {
  color: white;
  padding: 5px 10px;
  font-size: 1.2em;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #000000;
  cursor: pointer;
}
.container_principal .imagem_lateral .btn_cadastro_editar .btn_cancelar {
  background-color: #030361;
}
.container_principal .imagem_lateral .btn_cadastro_editar .btn_salvar {
  background-color: #006400;
}
.container_principal .imagem_lateral .btn_cadastro_editar .btn_excluir {
  background-color: #000000;
}
.container_principal .dados_perfil {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container_principal .dados_perfil .card_perfil {
  background-color: #ececec;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.185);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container_principal .dados_perfil .card_perfil .formulario {
  display: flex;
  flex-direction: column;
}
.container_principal .dados_perfil .card_perfil .formulario .campo {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}

.campo {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}

.container_principal .dados_perfil .card_perfil .formulario .sub_formulario {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.container_principal .dados_perfil .card_perfil .formulario .sub_formulario .sub_nome {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 1320px) {
  .container_principal .dados_perfil .card_perfil .formulario .sub_formulario {
    flex-wrap: wrap;
  }
}
@media (max-width: 950px) {
  .container_principal {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .container_principal .imagem_lateral {
    align-self: center;
  }
}
@media (max-width: 500px) {
  .container_principal .imagem_lateral {
    min-width: auto;
    padding: 20px 10px;
  }
}
.container_principal .imagem_lateral .container_curriculo .btn_cancelar {
  color: white;
  padding: 5px 10px;
  font-size: 1.2em;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #030361;
}
.container_principal .imagem_lateral .container_descricao .area_descricao_visualizar {
  background-color: white;
  text-align: justify;
  border-radius: 20px;
  padding: 15px;
}
.container_principal .dados_perfil .card_perfil .formulario .campo_visualizar {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
}
.container_principal .dados_perfil .card_perfil .formulario .sub_formulario .area_descricao_visualizar {
  background-color: #D9D9D9;
  text-align: justify;
  border-radius: 20px;
  padding: 15px;
}
.container_principal .dados_perfil .card_perfil .formulario .sub_formulario .sub_nome .lista_preferências {
  padding: 15px;
}

.container_principal_login {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "item1 item2 item2 item2";
  flex: 1 0 auto;
}
.container_principal_login .imagem_lateral_login {
  grid-area: item1;
  min-width: 400px;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.185);
}
.container_principal_login .imagem_lateral_login .titulo_pagina_login {
  font-size: 2.5em;
  color: #000000;
  text-align: center;
}
.container_principal_login .imagem_lateral_login .container_img_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_principal_login .imagem_lateral_login .container_img_login .foto_pag_login {
  width: 100%;
  border-radius: 5px;
}
.container_principal_login .dados_perfil {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container_principal_login .dados_perfil .card_perfil {
  background-color: #ececec;
  padding: 50px;
  width: 50%;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.185);
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
}
.container_principal_login .dados_perfil .card_perfil .formulario {
  display: flex;
  flex-direction: column;
}
.container_principal_login .dados_perfil .card_perfil .formulario .campo {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}
.container_principal_login .dados_perfil .card_perfil .formulario .sub_formulario {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.container_principal_login .dados_perfil .card_perfil .formulario .sub_formulario .sub_nome {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container_principal_login .dados_perfil .card_perfil .btn_login {
  color: white;
  padding: 5px 10px;
  font-size: 1.2em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #A50532;
}

.conteudo_home{
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  
}

.container_home_descricao{
width: 45%;
height: 100%;
}

.container_home_imagem{
width: 50%;
height: 100%;
}

.imagem_home{
width: 100%;
border-radius: 20px;
}

.titulo_home{
font-size: 2em;
}

.sub_home{
color: #A50532;
}

.texto_home{
text-align: justify;
}

@media (max-width: 800px) {
.container_home_imagem{
  width: 100%;
}

.container_home_descricao{
  width: fit-content;
}

}

@media (max-width: 1280px) {
  .container_principal_login {
    gap: 50px;
  }
  .container_principal_login .dados_perfil .card_perfil {
    width: 100%;
  }
}
@media (max-width: 940px) {
  .container_principal_login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_principal_login .imagem_lateral_login {
    display: none;
  }
}
@media (max-width: 480px) {
  .container_principal_login .dados_perfil .card_perfil {
    padding: 20px;
    min-width: 250px;
  }
}
.painel-cadastros-cards {
  display: flex;
  padding: 20px 50px;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: space-evenly;
}

.subdiv-painel {
  display: flex;
  gap: 20px 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-cadastros {
  width: 550px;
  background-color: #ececec;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

.card-cadastros-solicitacao {
  width: 550px;
  background-color: #ececec;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

.area-foto-btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.btn_cadastro {
  color: white;
  padding: 5px;
  font-size: 0.9em;
  width: 100px;
  border-radius: 8px;
  border: 1px solid #000000;
  cursor: pointer;
}

.aprovar {
  background-color: #006400;
}

.excluir {
  background-color: #A50532;
}

.visualizar-perfil {
  background-color: #030361;
}

.mini-btn {
  width: 80px;
}

.area-cadastro-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.sub_nome {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.campo_visualizar {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
}

.foto-cadastro {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media (max-width: 540px) {
  .card-cadastros {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .pag-cadastro {
    padding: 10px;
  }
  .painel-cadastros-cards {
    padding: 10px;
  }
}

.icone-relatorio{
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
